<!doctype html>
<body>

<div id="particles-js"></div>

<div class="mainContainer">
    <div class="main">
        <div class="info">
            <h1 class="name">Bahari Hasjim </h1>
            <h2 class="subtitle">Software Engineer </h2>
            <h2 class="subtitle">University of California, San Diego </h2>
        </div>

        <ol class="breadcrumb">
          <li><a href="About">About</a></li>
          <li><a href="https://www.github.com/bhasjim">Github</a></li>
          <li><a href="Projects">Projects</a></li>
          <li><a href="Contact">Contact</a></li>
        </ol>
    </div>
</div>

<script src="/scripts/particles.js/particles.js"></script>
<script src="/particles.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/index.css">

</body>
