<!doctype html>
<head>

  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/particles.js/particles.js"></script>
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/particles.js"></script>

</head>

<body>

<div id="particles-js"></div>

<div class="mainContainer">
    <div class="main">
        <div class="info">
            <h1 class="name">Bahari Hasjim</h1>
            <h2 class="subtitle">Software Development Engineer</h2>
            <h2 class="subtitle">UCSD CSE 2018, Workday, FlipStamp, UCSD IT Operations</h2>

        </div>

        <ol class="breadcrumb">
          <li><a href="About">About</a></li>
          <li><a href="Projects">Projects</a></li>
          <li><a href="https://www.github.com/bhasjim">Github</a></li>
          <li><a href="Contact">Contact</a></li>
            <li><a href="Resume">Resume</a></li>

        </ol>
    </div>
</div>



</body>
