<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Projects</title>

  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bahari Hasjim</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li class="active"><a href="projects">Projects</a></li>
              <li><a href="https://www.github.com/bhasjim">Github</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="resume">Resume</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <div class="page-header">
        <h1>My Projects</h1>
    </div>


      <div class="projectsContainer">
          <h2><a href="https://github.com/bhasjim/guodaddy">Exposure</a></h2>
            <p>This is a map-based website that displays a heat map of popular photo op locations nearby.
               Able to filter by tags and search by locations. Leverages Flickr’s
               API. Built with HTML/CSS, Node/Express, JS, and Google Maps.
               Check it out
                <a href="https://appexposure.herokuapp.com/">here!</a>
            </p>
        <h2><a href="https://github.com/bhasjim/Twitter">Tweeter</a></h2>
            <p>A clone of the mobile Twitter app. I made this to learn how to use Swift
                and XCode, and because I wanted to learn how to develop mobile apps.
                I utilized Twitter's API to support tweets, retweets, favorites, and OAuth login.
                Check out the
                <a href="/twitterdemo.gif">gif!</a>
            </p>

        <h2><a href="https://github.com/bhasjim/FlicksWeek1">Flicks</a></h2>
            <p>A simple iOS app that views movie titles and posters from a movie database.
               Like the Tweeter app, I created this app to learn about mobile app development,
               and also to learn how to use public APIs. Check out the
               <a href="/flicksdemo.gif">gif!</a>
            </p>
        <h2><a href="https://github.com/bhasjim/worldcare2.0">WorldCare Technologies Website</a></h2>
            <p>A website idea for Worldcare Technologies, a UCSD club turned benefit corporation dedicated
                to building an affordable and reliable HIV test for use in the developing world.
                Built in NodeJS/HTML/CSS.
            </p>
        <h2><a href="https://github.com/origilad/basic-express-site-2016">Spots</a></h2>
            <p>One of my first web pages that I created. Spots is a webapp that allows users to log their travel locations, and also
               outputs some analytics on their adventures such as how often a user travels.
               Built in NodeJS/Jade/CSS. Check it out
               <a href="http://spots-final.herokuapp.com/Login">here!</a>
            </p>
        <h2><a href="https://github.com/bhasjim/Tipper">Tipper</a></h2>
            <p>My very first iOS app. Just a simple tip calculator. Check out the
            <a href="/tipperdemo.gif">gif!</a>
            </p>


      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
